<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='foundation.css')}}">
	<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='app.css')}}">
	<title>{% block title %} {% endblock %}</title>
</head>
<body>

	
	<div class="top-bar">
	    <div class="top-bar-section">
	    	<ul class="dropdown menu" data-dropdown-menu>
	    		<li>
					<a href="{{ url_for('friends') }}">Find Friends</a>
					<ul class="menu">
						{% for each in fr %}
							<li>{{fr[each][0]}}({{each}})</li>
						{% endfor %}
					</ul>
				</li>
				<li><a href="{{ url_for('profile') }}">My List</a></li>
				<li><a href="{{ url_for('index') }}">Home</a></li>
			</ul>
		</div>
	    <div class="top-bar-right">
			<li><a href="{{ url_for('edit') }}">HI NAME!</a></li>
			<li><a href="{{ url_for('logout') }}">Log Out</a></li>
		</div>
	</div>
	
				    {% block body %}

    {% endblock %}

</body>
</html>