<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='foundation.css')}}">
	<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='app.css')}}">
	<title>Update Profile</title>
</head>
<body>
	
	<div class="top-bar">
	    <div class="top-bar-section">
	    	<ul class="dropdown menu" data-dropdown-menu>
	    		<li>
					<a href="{{ url_for('friends') }}">Find Friends</a>
					<ul class="menu">
						{% for each in fr %}
							<li>{{fr[each][0]}}({{each}})</li>
						{% endfor %}
					</ul>
				</li>
				<li><a href="{{ url_for('profile') }}">My List</a></li>
				<li><a href="{{ url_for('index') }}">Home</a></li>
			</ul>
		</div>
	    <div class="top-bar-right">
			<li><a href="{{ url_for('edit') }}">Hi, {{data[0]}}!</a></li>
			<li><a href="{{ url_for('logout') }}">Log Out</a></li>
		</div>
	</div>
	
	<div>
		<h2>Update Profile </h2>
		<form method="POST" action="">
			<div>
				Name: <br>
				{{data[2]}} <br><br>
				Username: <br>
				{{data[0]}} <br><br>
				Change Password: <br>
				<input name="password" type="text"> <br><br>
				Confirm Password: <br>
				<input name="confirm" type="text"> <br><br>
			</div>
			<div>
				Age: <br>
				<input name="age" type="text" value ="{{data[3]}}"> <br><br>
				Gender: <br>
				<input name="gender" type="text" value ="{{data[4]}}"> <br><br>
				Hobbies/Interests: <br>
				<textarea name="hobbies">
				{{data[5]}}
				</textarea>
				<input type="submit" value="Submit"> <br><br>
			</div>
		</form>
	</div>
</body>
</html>