{% extends "base.html" %}

{% block body %}

	<div>
		<h2>Update Profile </h2>
		<form method="POST" action="">
			<div>
				Name: <br>
				{{data[2]}} <br><br>
				Username: <br>
				{{data[0]}} <br><br>
				Change Password: <br>
				<input name="password" type="text"> <br><br>
				Confirm Password: <br>
				<input name="confirm" type="text"> <br><br>
			</div>
			<div>
				Age: <br>
				<input name="age" type="text" value ="{{data[3]}}"> <br><br>
				Gender: <br>
				<input name="gender" type="text" value ="{{data[4]}}"> <br><br>
				Hobbies/Interests: <br>
				<textarea name="hobbies">
				{{data[5]}}
				</textarea>
				<input type="submit" value="Submit"> <br><br>
			</div>
		</form>
	</div>
{% endblock %}
