{% extends "base.html" %}

{% block body %}

<div class="grid-x grid-padding-x">
<div class="large-12 cell">
<div class="callout">
<h1> Welcome! </h1>
<p>Check out your friends and find some products!</p>

<div class="grid-x grid-padding-x">
<div class="large-6 medium-6 cell">
<div class="callout">
		<h3>My Friends</h3>
		{% if frands %}
			<table>
				{% for each in frands %}
					<tr>
						<td>
						{{frands[each][0]}} ({{each}}) <br>
						{% for wish in frands[each][4] %}
							{{wish}},
						{% endfor %}
						...
						</td>
						<td>
							<form method="POST" action="/profile">
							  <button name="person" type="submit" value="{{each}}">See Wish List</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>Your friends show up here! Go make some right now!</p>
		{% endif %}
</div>		
		</div>
<div class="large-6 medium-6 cell">
		
<div class="callout">
		<h3>Products</h3>
		
		<form method="POST" action="/add">
		  <button name="submit" type="submit" value="search" class="button">Click here to find Products! </button>
		</form>
</div>		
			</div>	
				
	</div>
	
{% endblock %}
